@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Sansita&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: black;
  --primary-color: #f75ebc;
  --secondary-color: #d0f5ff;
  --terciary-color: #ffcfec;
  --quartenary-color: white;
  --h1-typo: "Berkshire Swash", serif;
  --h2-typo: "Sansita", sans-serif;
  --Text-typo: "Inter", sans-serif;
}
body {
  background-color: var(--background-color);
}
/* Este media es para version movil */
@media screen and (max-width: 767px) {
  /* CSS del header */
  .logo {
    width: 4.5em;
  }
  .boxlogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Esta es la version movil de la barra navegación */

  #toggle-menu {
    display: none;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu-icon {
    font-size: 24px;
    padding: 10px;
    background-color: black;
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--primary-color);
    margin: 6px 0;
  }
  #menu {
    display: none;
    width: 100%;
    background-color: black;
    color: var(--primary-color);
    text-align: center;
    font-family: var(--Text-typo);
  }
  .menu-item {
    padding: 10px;
  }
  #toggle-menu:checked + .menu-container #menu {
    display: block;
  }

  /*Aquí termina el menu nav hambu*/

  .heroimage {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  h1 {
    font-family: var(--h1-typo);
    font-size: 2rem;
    color: white;
  }
  p {
    font-family: var(--h2-typo);
    color: var(--quartenary-color);
    text-align: center;
    padding: 1.5em;
  }
  .textoheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
  }
  span {
    font-family: var(--Text-typo);
    font-weight: lighter;
    font-size: 14px;
  }
  /*CSS footer*/
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-family: var(--Text-typo);
    text-decoration: none;
  }
  .address img:first-child {
    width: 4em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }

  /*CSS main index*/
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
  }
  section > img {
    margin: 1em;
    border: 2px solid var(--primary-color);
    width: 90vw;
    border-radius: 10px;
    box-shadow: 2px 2px 25px 10px rgba(247, 94, 188, 0.2);
  }
  button {
    width: 8em;
    height: 2em;
    background-color: black;
    border: 2px solid var(--primary-color);
    margin-bottom: 3em;
    border-radius: 10px;
  }
  button:hover,
  a:hover {
    background-color: var(--primary-color);
    color: black;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  h2 {
    font-size: 2rem;
    font-family: var(--h2-typo);
    color: var(--primary-color);
    text-align: center;
  }

  .componentes > p {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0em 6em;
    border-radius: 10px;
  }
  /* CSS About us */
  h3 {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--h2-typo);
    font-size: 1rem;
    margin: 1em;
  }
  .text-about {
    font-family: var(--Text-typo);
    font-weight: lighter;
    font-size: 0.75rem;
    text-align: left;
    padding: 0 3em;
    margin: 1em 0;
  }
  main img:last-child {
    width: 100%;
  }
  /* CSS página piano */
  /* CSS instrumento piano */
  .piano {
    display: flex;
    width: 90vw;
    margin-bottom: 2em;
  }

  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }

  .white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
  }

  .white.active {
    background-color: #ccc;
  }

  .black {
    --width: 32px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }

  .black.active {
    background-color: #333;
  }
  /* CSS página bajo */
  /* CSS instrumento bajo */
  .bajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
    width: 90vw;
    margin-bottom: 2em;
    cursor: pointer;
  }

  .cuerda {
    height: calc(var(--width) * 4);
    width: var(--width);    
  }

  .superior, .inferior {
    --width: 100%;
    height: 5px;
    /* background-color: white; */
    border: 1px solid white;
  }
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.shake-vertical:active{animation:shake-vertical 0.8s linear both} @keyframes shake-vertical{0%,100%{transform:translateY(0)}10%,30%,50%,70%{transform:translateY(-8px)}20%,40%,60%{transform:translateY(8px)}80%{transform:translateY(6.4px)}90%{transform:translateY(-6.4px)}}
  .superior.active {
    background-color: #ccc;
  }
/* 
  .inferior {
    --width: 32px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    } */

  .inferior.active {
    background-color: #333;
  }

  /* CSS página guitarra */
  /* CSS instrumento guitarra */
  .guitarra {
    display: flex;
    width: 90vw;
    margin-bottom: 2em;
    flex-direction: column;
    justify-content: space-between;
    gap:3em;
    cursor: pointer;
  }

  .cuerda {
    height: calc(var(--width) * 4);
    width: var(--width);
  }

  .arriba, .abajo {
    --width: 100%;
    height: 5px;
    /* background-color: white; */
    border: 1px solid white;
  }

  .arriba.active {
    background-color: #ccc;
  }

  /* .abajo {
    --width: 32px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  } */

  .abajo.active {
    background-color: #333;
  }

  .pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 25px 10px rgba(247, 94, 188, 0.2);
    width: 90vw;
    border-radius: 10px;
    padding: 1em;
  }
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.blur-in-expand:hover{animation:blur-in-expand 1s linear both} @keyframes blur-in-expand{0%{transform:scale(0);filter:blur(12px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}

  /* CSS página instrumentos */
  .main-instrumentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-instrumentos img {
    width: 90%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 25px 10px rgba(247, 94, 188, 0.2);
    margin: 1em;
  }
}

/* CSS de desktop */

.hamburger > div {
  width: 20px;
  border: 2px solid black;
  margin-bottom: 3px;
}
​ .hamburger {
  display: none;
  align-self: end;
}

/* .piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
} */
