@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Sansita&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: black;
  --primary-color: #f75ebc;
  --secondary-color: #d0f5ff;
  --terciary-color: #ffcfec;
  --quartenary-color: white;
  --h1-typo: "Berkshire Swash", serif;
  --h2-typo: "Sansita", sans-serif;
  --Text-typo: "Inter", sans-serif;
}
body {
  background-color: var(--background-color);
}

/* Menu navegacion desktop */
/* .hamburger > div {
  width: 20px;
  border: 2px solid white;
  margin-bottom: 3px;
}
​.hamburger {
  display: none;
  align-self: end;
} */
/* Este media es para version movil */
@media screen and (max-width: 767px) {
  /* CSS del header */
  .logo {
    width: 4.5em;
  }
  .boxlogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Esta es la version movil de la barra navegación */

  .heroimage {
    object-fit: cover;
    width: 100vw;
    height: 400px;
    position: relative;
  }
  .pinkheroimage {
    width: 100vw;
    height: 400px;
    background-color: var(--primary-color);
    opacity: 25%;
    position: absolute;
    top: 9em;
    z-index: 1;
  }
  h1 {
    font-family: var(--h1-typo);
    font-size: 2rem;
    color: white;
  }
  p {
    font-family: var(--h2-typo);
    color: var(--quartenary-color);
    text-align: center;
    padding: 1.5em;
  }
  .textoheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
    position: absolute;
    top: 10em;
    z-index: 1;
  }
  span {
    font-family: var(--Text-typo);
    font-weight: lighter;
    font-size: 14px;
  }
  /*CSS footer*/
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-family: var(--Text-typo);
    text-decoration: none;
  }
  .address img:first-child {
    width: 4em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
  }

  /*CSS main*/
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
  }
  section > img {
    margin: 1em;
    border: 2px solid var(--primary-color);
    width: 90vw;
    border-radius: 10px;
    box-shadow: 2px 2px 25px 10px rgba(247, 94, 188, 0.2);
  }
  button {
    width: 8em;
    height: 2em;
    background-color: black;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  .pianorelative {
    position: relative;
  }

  .pianoabsolute {
    position: absolute;
    top: 58em;
  }

  .guitarrelative {
    position: relative;
  }

  .guitarabsolute {
    position: absolute;
    top: 79em;
  }

  .bajorelative {
    position: relative;
  }

  .bajoabsolute {
    position: absolute;
    top: 99.5em;
  }

  h2 {
    font-size: 2rem;
    font-family: var(--h2-typo);
    color: var(--primary-color);
    text-align: center;
  }

  .componentes > p {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    border: 1px solid var(--primary-color);
    padding: 0em 6em;
    border-radius: 10px;
  }
  /* CSS About us */
  h3 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1rem;
    margin: 1em;
  }
  .text-about {
    font-family: var(--Text-typo);
    font-weight: lighter;
    font-size: 0.75rem;
    text-align: left;
    padding: 0 3em;
    margin: 1em 0;
  }
  /* CSS página piano */
  /* CSS instrumento piano */
  .piano {
    display: flex;
    width: 90vw;
    margin-bottom: 2em;
  }

  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }

  .white {
    --width: 50px;
    background-color: white;
    border: 1px solid #333;
  }

  .white.active {
    background-color: #ccc;
  }

  .black {
    --width: 32px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }

  .black.active {
    background-color: #333;
  }

  .pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 2px 2px 25px 10px rgba(247, 94, 188, 0.2);
    width: 90vw;
    border-radius: 10px;
    padding: 1em;
  }
  /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */
  .rotate-scale-up {
    animation: rotate-scale-up 1s linear both;
  }
  @keyframes rotate-scale-up {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(2) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }
}

/* CSS de desktop */
/* .piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 100px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #ccc;
}

.black {
  --width: 60px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
} */